.topsection{
    padding-top: 2rem;
    /* background-color: #767676; */
}

.containerarticle{
   padding-top: 8rem;
        max-width: 880px;
        max-width: 1220px;
        padding: 0 40px;
        margin: 0 auto;
        width: 100%;
}
.articlecenter{
    margin-bottom: 3rem;
    text-align: center;
}
.pagesubtitle{
    margin-bottom: 2rem
}
.pagesubtitle >h3{
  
        font-family: 'geomanist-regular',sans-serif;
        font-weight: 400;
        font-size: 1.375rem;
        line-height: 1.36;
        color: #767676;
    
}
.topswitch{
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 2rem;
position: relative;
}
.switchplan{
    position: relative;
    display: block;
    height: 32px;
}

/* .pricingcards{
    width: 300px;
    height: 584px;
} */
.pricingcards {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fff;
    padding: 3rem 2.5rem 2.5rem;
    position: relative;
    margin: auto;
}

.pricingtitle{
     font-size: 2.25rem;
     /* float: left; */
        line-height: 2.75rem;
        color: #333;
        font-family: 'Geomanist-Book';
        margin-bottom: 1rem;
    
}
.costvalue{
    font-size: 4.375rem;
    line-height: 5rem;
    color: #57bb71;
    margin-bottom: 0.25rem;
    padding-left: 1rem;
    position: relative;

}
.costvaluedolor{
    position: absolute;
    font-size: 20px;

}
.carditems{

    width: 300px;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
     margin: auto;
}
.carditems>ul{
    position: relative;
   
}
.carditems>ul>li{
    /* position: absolute; */
   /* left:-5px; */
   float: left;
   padding: 5px;
   list-style: none;

  }
  .carditems >ul>li::before{
    content: '✓';
    color: #57bb71;
    margin-left: -5px;
    
  }
  .actionbtns{
margin-top:15px;
width: 100%;

  }
  
  /* On mouse-over, add a deeper shadow */
  .carditems:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }